@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+IS:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.lato {
  font-family: 'Lato', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.noto {
  font-family: 'Noto Sans', sans-serif;
}

.nunito {
  font-family: 'Nunito Sans', sans-serif;
}

.open {
  font-family: 'Open Sans', sans-serif;
}

.playwrite {
  font-family: 'Playwrite IS', cursive;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}